click==8.1.7
coverage==6.4.2
Flask==2.1.0
Flask-Login==0.6.3
Flask-SQLAlchemy==2.5.1
greenlet==3.0.3
itsdangerous==2.1.2
Jinja2==3.1.2
markupsafe==2.1.1
python-dotenv==0.20.0
setuptools==69.0.3
SQLAlchemy==1.4.47
werkzeug==2.1.2
wheel==0.42.0
zipp==3.8.1